@use '../../../../../styles.vars' as vars;

.container {
    display: flex;
    justify-content: center;

    .nav {
        position: fixed;
        left: 0;
        top: vars.$header-height;
        @include vars.side-nav-animation(150ms);
        height: calc(100vh - vars.$header-height);
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: map-get(vars.$mat-background, dialog);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .main {
        flex-basis: calc(100% - vars.$side-nav-width);
        padding-left: calc(vars.$side-nav-width + vars.$main-contents-padding-x);
        padding-right: vars.$main-contents-padding-x;
        padding-top: calc(vars.$header-height + vars.$main-contents-padding-y);
        @include vars.side-nav-animation(150ms);
    }

    &:not(.menu-is-open) {
        .main {
            flex-basis: calc(100% - vars.$side-nav-width-close);
            padding-left: calc(vars.$side-nav-width-close + vars.$main-contents-padding-x);
            padding-right: vars.$main-contents-padding-x;
            padding-top: calc(vars.$header-height + vars.$main-contents-padding-y);
        }
    }

    &:not(.authorized) {
        .nav {
            left: calc(-1 * vars.$side-nav-width);
            @include vars.side-nav-animation(0ms);
            height: calc(100vh - vars.$header-height);
        }

        .main {
            flex-basis: 100%;
            padding-left: 0;
            padding-top: 0;
            @include vars.side-nav-animation(0ms);
        }
    }
}
