<div class="container" [ngClass]="{ 'menu-is-open': (isOpen$ | async), authorized: isAuthorized }">
    <nav class="nav">
        <app-side-menu-item icon="dashboard" label="ダッシュボード" route="dashboard"></app-side-menu-item>
        <app-side-menu-item icon="edit_note" label="勤怠入力" route="inputWorkingHours"></app-side-menu-item>
        <app-side-menu-item icon="manage_accounts" label="ユーザー設定" route="usersMaster"></app-side-menu-item>
    </nav>
    <main class="main">
        <ng-content></ng-content>
    </main>
</div>
