<form [formGroup]="fgRegistForm" (ngSubmit)="registFormSubmit(fgRegistForm)">
    <h2 mat-dialog-title>ユーザーデータの新規登録</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>アカウント</mat-label>
            <input matInput formControlName="fcAccount" />
            <mat-error *ngIf="fgRegistForm.get('fcAccount')?.invalid">必須入力です。</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>表示名</mat-label>
            <input matInput formControlName="fcName" />
            <mat-error *ngIf="fgRegistForm.get('fcName')?.invalid">必須入力です。</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>パスワード</mat-label>
            <input [type]="passwordHide ? 'password' : 'text'" matInput formControlName="fcPassword" />
            <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide">
                <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="fgRegistForm.get('fcPassword')?.invalid">必須入力です。</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>権限</mat-label>
            <mat-select formControlName="fcPermission">
                <mat-option *ngFor="let usersPermission of usersPermissionMapping | keyvalue" [value]="usersPermission.key">
                    {{ usersPermission.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="fcIsEnabled">
            有効ステータス: <span class="status-label">{{ fgRegistForm.get('fcIsEnabled')?.value ? '有効' : '無効' }}</span>
        </mat-slide-toggle>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-flat-button mat-dialog-close cdkFocusInitial>キャンセル</button>
        <button type="submit" mat-flat-button color="primary">登録</button>
    </mat-dialog-actions>
</form>
