<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>アカウント</th>
        <td mat-cell *matCellDef="let element">{{ element.account }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>表示名</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>権限</th>
        <td mat-cell *matCellDef="let element">{{ UsersPermissionMapping[element.permission] }}</td>
    </ng-container>

    <ng-container matColumnDef="isEnabled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>有効ステータス</th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.isEnabled; then enabled; else disabled"></div>
            <ng-template #enabled>
                <mat-icon class="primary">check_circle_outline</mat-icon>
            </ng-template>
            <ng-template #disabled>
                <mat-icon class="warn">do_disturb_on</mat-icon>
            </ng-template>
        </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">該当データが0件です。</td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: 1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="rowClick(row)"></tr>
</table>
