@use '../../../../../../styles.vars' as vars;

.user-button {
    height: vars.$header-height;
    width: 160px;

    .name {
        white-space: normal;
        @include vars.line-clamp(1);
    }
}
