<form [formGroup]="fgUpdateForm" (ngSubmit)="updateFormSubmit(fgUpdateForm)">
    <h2 mat-dialog-title>ユーザーデータの更新</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>アカウント</mat-label>
            <input matInput formControlName="fcAccount" />
            <mat-error *ngIf="fgUpdateForm.get('fcAccount')?.invalid">必須入力です。</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>表示名</mat-label>
            <input matInput formControlName="fcName" />
            <mat-error *ngIf="fgUpdateForm.get('fcName')?.invalid">必須入力です。</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>権限</mat-label>
            <mat-select formControlName="fcPermission">
                <mat-option
                    *ngFor="let usersPermission of usersPermissionMapping | keyvalue: keepMappingOrder"
                    [value]="usersPermission.key"
                >
                    {{ usersPermission.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="fcIsEnabled">
            有効ステータス: <span class="status-label">{{ fgUpdateForm.get('fcIsEnabled')?.value ? '有効' : '無効' }}</span>
        </mat-slide-toggle>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-flat-button mat-dialog-close cdkFocusInitial>キャンセル</button>
        <button type="submit" mat-flat-button color="primary">更新</button>
    </mat-dialog-actions>
</form>
