@use '../../../../../styles.vars' as vars;

.mat-toolbar-single-row {
    height: vars.$header-height;

    .app-title {
        margin-left: 8px;
        font-size: 32px;
        font-family: 'Noto Serif', serif;
        letter-spacing: 2px;
        color: map-get(map-get(vars.$portfolio-primary, contrast), 500);

        &:first-letter {
            color: vars.$mat-accent;
        }
    }

    .spacer {
        flex-grow: 1;
    }
}
