@use '@angular/material' as mat;
@use './styles.vars' as vars;

@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(vars.$portfolio-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: map-get(vars.$mat-background, background);
}

a {
    text-decoration: none;
}
