// パレット確認用ファイル
@use '../node_modules/@angular/material/core/theming/_palette';
@use '@angular/material' as mat;

// material
$portfolio-primary: mat.define-palette(mat.$teal-palette);
$portfolio-accent: mat.define-palette(mat.$amber-palette);
$portfolio-warn: mat.define-palette(mat.$red-palette);
$portfolio-theme: mat.define-light-theme(
    (
        color: (
            primary: $portfolio-primary,
            accent: $portfolio-accent,
            warn: $portfolio-warn,
        ),
    )
);

$mat-primary: mat.get-color-from-palette($portfolio-primary);
$mat-accent: mat.get-color-from-palette($portfolio-accent);
$mat-warn: mat.get-color-from-palette($portfolio-warn);
$mat-foreground: map-get($portfolio-theme, foreground);
$mat-background: map-get($portfolio-theme, background);

// app
$header-height: 64px;
$side-nav-width: 200px;
$side-nav-width-close: 56px;
$side-nav-item-height: $side-nav-width-close;
$main-contents-padding-x: 40px;
$main-contents-padding-y: 24px;

@mixin side-nav-animation($duration) {
    transition-property: flex-basis, left, padding-left;
    transition-duration: $duration;
    transition-delay: 0s;
    transition-timing-function: ease;
}

@mixin line-clamp($line) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
