@use '@angular/material' as mat;
@use '../../../../../../styles.vars' as vars;

.anker {
    width: 100%;

    .anker-contents {
        display: flex;
        align-items: center;
        width: vars.$side-nav-width;
        height: vars.$side-nav-item-height;

        .icon {
            margin: 0 16px;
        }

        &:not(.selected) {
            color: mat.get-color-from-palette(mat.$light-theme-foreground-palette, secondary-text);
        }

        &.selected {
            color: mat.get-color-from-palette(vars.$portfolio-primary, 500);
            background-color: mat.get-color-from-palette(vars.$portfolio-primary, A700, 0.1);
        }

        &:not(.menu-is-open) {
            width: vars.$side-nav-width-close;
        }
    }
}
